/*default class for adding shadows to text*/
.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212)
}

/*flash messages styling*/
.flashes h4{
    line-height: 2;
}

/*navbar background*/
/* .tabs{ 
    background-image: url("https://res.cloudinary.com/dugnokxox/image/upload/v1600814676/Backgrounds/Vector_Floral_vintage_rustic_seamless_pattern._Background_can_be_used_for_wallpaper_fills_web_page_surface_textures_cbwphv.jpg");
    
} */
/*body background color*/
body{
background: rgba(248, 244, 2, 0.582);  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, rgba(228, 229, 230, 0.582), rgba(248, 244, 2, 0.582));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, rgba(228, 229, 230, 0.568),  rgba(248, 244, 2, 0.582)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*font style in the navbar*/
nav ul a{
    font-family: 'Poppins', sans-serif;
    color:rgb(124, 120, 120);
    font-size: 22px;
    padding-bottom:0;
}
/*burger bars class overwrite*/
.fa-bars:before{
    color:rgb(255, 255, 255);
}
/*Mobile side nav width*/

ul.sidenav{
    width:150px;
}

/*About - adding shadows to images*/

img.image-shadow,
div.parallax-container{
    box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.2)
}

/* About - Titles styling */
h2.header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/*About - Testimonials styling*/
.testimonial{
    height:80px;
    width:160px;
    border-radius:4px;
    border:1px solid rgb(117, 174, 212);
    position:absolute;
    z-index: 99999;
}
/*media query to remove the z-index*/
@media only screen and (max-device-width : 480px) {
    .testimonial {
        position: relative;
    }
}


/*Footer*/

.page-footer{
     font-family: 'Poppins', sans-serif;
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
     
}







