.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212)
}

.flashes h4{
    line-height: 2;
}

.tabs{
    
   
    background-image: url("https://res.cloudinary.com/dugnokxox/image/upload/v1600814676/Backgrounds/Vector_Floral_vintage_rustic_seamless_pattern._Background_can_be_used_for_wallpaper_fills_web_page_surface_textures_cbwphv.jpg");
}

body{
    background-color: rgba(233, 233, 229, 0.815);
}

nav ul a{
    font-family: 'Poppins', sans-serif;
    color:brown;
    font-size: 22px;
    padding-bottom:0;
}

.fa-bars:before{
    color:brown;
}



