{% extends "base.html" %} {% block content %}

<!-- Image 1 -->
<div class="parallax-container col s12">
    <div class="parallax"><img class="responsive-img image-shadow" style="object-fit: cover; min-width: 100%;" src="https://res.cloudinary.com/dugnokxox/image/upload/v1601034061/Backgrounds/download_2_bysmhp.jpg" /></div>
</div>
<!-- Section 1 -->
<div class="section transparent">
    <div class="row container">
        <h2 class="header text-shadow">About Ketogenic Diet</h2>
        <br />
        <p class="grey-text text-darken-3 lighten-3">
            A keto or ketogenic diet is a low-carb, moderate protein, higher-fat diet that can help you burn fat more effectively. It has many benefits for weight loss, health, and performance, as shown in over 50 studies. That’s why it’s
            recommended by so many doctors. A keto diet can be especially useful for losing excess body fat without hunger and for improving type 2 diabetes.
        </p>
    </div>
</div>
<!-- Image 2 -->
<div class="parallax-container">
    <div class="parallax">
        <img class="responsive-img image-shadow" style="object-fit: cover; min-width: 100%;" src="https://res.cloudinary.com/dugnokxox/image/upload/v1601042476/Backgrounds/A_ketogenic_diet_for_beginners_wxtrsr.jpg" />
    </div>
</div>
<!-- Section 2 -->
<div class="section transparent">
    <div class="row container">
        <h2 class="header text-shadow">How to go about it?</h2>
        <br />
        <p class="grey-text text-darken-3 lighten-3">
            What’s the most important thing to do to reach ketosis? Avoid eating too many carbs. You’ll likely need to keep carb intake under 50 grams of net carbs per day, ideally below 20 grams. The fewer the carbs, the more effective the
            diet appears to be for reaching ketosis, losing weight or improving type 2 diabetes. Counting carbs can be helpful at first. But if you stick to our recommended foods and recipes you can stay keto even without counting.
        </p>
    </div>
</div>
<!-- Image 3 -->
<div class="parallax-container">
    <div class="parallax">
        <img
            class="responsive-img image-shadow"
            style="object-fit: cover; min-width: 100%;"
            src="https://res.cloudinary.com/dugnokxox/image/upload/v1601034120/Backgrounds/Some_ketogenic_diet_foods_including_cheese_butter_avocado_eggs_oil_almonds_blueberries_and_coconut_oil_with_recipe_book_titled_ketogenic_diet_wvciij.jpg"
        />
    </div>
</div>
<!-- Section 3 -->
<div class="section transparent">
    <div class="row container">
        <h2 class="header text-shadow">Some Stories</h2>
        <br />
        <!--MODALS-->

        <!--Stacey-->
        <div class="row">
            <div class="col m6 s12 box">
                <img
                    class="responsive-img image-shadow modal-trigger box-shadow"
                    style="object-fit: cover; min-width: 100%; border-radius: 50%;"
                    href="#modal1"
                    src="https://res.cloudinary.com/dugnokxox/image/upload/v1601047669/People/pexels-andrea-piacquadio-774909_1_bzt1sk.jpg"
                />
                <div class="text">
                    <h5>Stacey</h5>
                </div>
            </div>
            <!-- Modal no.1 -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Why Keto worked for Stacey</h4>
                    <p>
                        Since starting keto my life has changed in every imaginable way possible. I’m a completely different person now. I am truly happy with my body image. I don’t hide myself anymore. I let my light shine. This was the
                        BEST thing that I could have ever done for myself. It has changed the way I look at nutrition, and I have a very healthy relationship with food now.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat blue">Agree</a>
                </div>
            </div>
            <!--James-->
            <div class="col m6 s12 box">
                <img
                    class="responsive-img image-shadow modal-trigger"
                    style="object-fit: cover; min-width: 100%; border-radius: 50%;"
                    href="#modal2"
                    src="https://res.cloudinary.com/dugnokxox/image/upload/v1601047669/People/pexels-nathan-cowley-1300402_1_hxsfyk.jpg"
                />
                <div class="text">
                    <h5>James</h5>
                </div>
            </div>
                <!-- Modal no.2 -->
                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <h4>James found it very easy</h4>
                        <p>
                            On my newfound diet, I stopped consuming all sugar, rice, pasta, bread, and potatoes overnight — and have never looked back. 
                            I never measured any of my meals, I just excluded certain food types. It was – and still is – very easy. In the first three months, 
                            I lost 35 pounds (or 16 kilos), 
                            and since I loved my new lifestyle, I thought to myself, ‘why not just continue?’ 
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            
            <!--Marie-->
            <div class="col m6 s12 box">
                <img
                    class="responsive-img image-shadow modal-trigger"
                    style="object-fit: cover; min-width: 100%; border-radius: 50%;"
                    href="#modal3"
                    src="https://res.cloudinary.com/dugnokxox/image/upload/v1601047669/People/pexels-christina-morillo-1181519_1_onq8sy.jpg"
                />
            

            <div class="text">
                <h5>Marie</h5>
            </div>
            </div>
            <!-- Modal no.3 -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Marie just wanted to feel healthier</h4>
                    <p>
                        I didn’t feel anywhere near as bloated or ick. I felt healthier on the inside because I wasn’t putting bad foods in my body… 
                        It has also seriously improved my anxiety and depression.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
            <!--Sophie-->
            <div class="col m6 s12 box">
                <img
                    class="responsive-img image-shadow modal-trigger"
                    style="object-fit: cover; min-width: 100%; border-radius: 50%;"
                    href="#modal4"
                    src="https://res.cloudinary.com/dugnokxox/image/upload/v1601047669/People/pexels-ike-louie-natividad-2709388_1_dr250e.jpg"
                />
            

            <div class="text">
                <h5>Sophie</h5>
            </div>
            </div>

            <!-- Modal no.4 -->
            <div id="modal4" class="modal">
                <div class="modal-content">
                    <h4>Sophie's personal success</h4>
                    <p>
                        Before, I was always so focused on food, thinking about what I was going to have for breakfast, lunch, and dinner. 
                        To not be thinking about food all the time just frees up so much time for me. 
                        I always say that I felt I was sitting on the sidelines of life, not being able to do things that most people did because of my size. 
                        All that changed once I found my motivation to stick to keto.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Image 4 -->
<div class="parallax-container">
    <div class="parallax">
        <img class="responsive-img image-shadow" style="object-fit: cover; min-width: 100%;" src="https://res.cloudinary.com/dugnokxox/image/upload/v1601043399/Backgrounds/pexels-august-de-richelieu-4262010_qgdfr3.jpg" />
    </div>
</div>
<section></section>

{% endblock %}
