{% extends "base.html" %} {% block content %}

<h2 class="center-align text-shadow">User profile</h2>



<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4">
        <div class="card large">
            <div class="card-image">
                <img class="bg-image responsive-img" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}" />
                <span class="card-title bg-text"><strong>{{ recipe.recipe_name }}</strong></span>
            </div>
            <div class="card-content minimalist">
                <p>Ingrediences: {{ recipe.keywords }}</p>
                <br />
            </div>
            <div class="card-action col s12 minimalist" style="border-top-width: 0px;">
                <p><em>Created by: {{ recipe.created_by }}</em></p>
                <a href="{{url_for('recipe', recipe_id=recipe._id)}}" class="btn-small blue">Make it</a>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" id="edit" class="btn-small green">Edit Recipe</a>
                <a href="#delete-this" class="btn-small red modal-trigger">Delete</a>

                <div id="delete-this" class="modal">
                    <div class="modal-question-wrapper">
                        <div class="modal-question">
                            <p>Are you absolutely and definitely sure you do not need this recipe in your book? Even Salmon of Wisdom will not be able to bring it back</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn-small red modal-close">Delete</a>
                            <a class="btn-small red modal-close">Cancel</a>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="red-text center-align text-shadow">No Results Found</h3>
{% endif %} {% endblock %}
