{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 center-align box">
    <img
      class="responsive-img image-shadow modal-trigger box-shadow"
      style="border-radius: 50%;"
      src="{{ username_image }}"
    />

  </div>
</div>

  <div class="col s12">
    <h3 class="center-align text-shadow">
      {{ username }}
    </h3>
  </div>
  <div class="col s12">
    <h3 class="center-align text-shadow">
      On keto since: {{ on_keto_since }}
    </h3>
  </div>

  <div class="col s4">
    <h3 class="center-align text-shadow">
      Personal Success: {{ personal_success }}
    </h3>
  </div>
</div>

{% endblock %}
