{% extends "base.html" %} {% block content %}

<div class="section transparent">
    <div class="row">
        <div class="col s12 center-align box">
            <img class="responsive-img image-shadow box-shadow" style="border-radius: 50%; width: 300px;" src="{{ user.username_image }}" />
        </div>
    </div>
</div>

<div class="profile-border">
    <div class="col s12">
        <h3 class="center-align text-shadow profile-name">
            {{ user.username }}
        </h3>
    </div>

    <div class="col s12">
        <p class="center-align text-shadow profile-desc on-keto">
            <em>On keto since {{ user.on_keto_since }}</em>
        </p>
    </div>

    <div class="col s12">
        <p class="center-align text-shadow profile-desc personal-success">
            Personal Keto Success: <br>{{ user.personal_success }}
        </p>
    </div>
</div>

<h5 class="center-align text-shadow my-milestone">My Milestones</h5>

<ul class="collapsible">
    {% for milestone in milestones %}
    <li>
        <div class="collapsible-header"><strong> {{ milestone.milestone_date }}</strong>: {{ milestone.milestone_name }}</div>
        <div class="collapsible-body">
            <em> {{ milestone.milestone_description }} </em>
        </div>
    </li>

    {% endfor %}
</ul>

<div class="col s12 center-align">
<a href="{{ url_for('add_milestone') }}" class=" btn-flat neutral-large "><i class="fas fa-award"></i> Add new</a>
</div>


{% endblock %}
