{% extends "base.html" %} {% block content %}

  

  
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{ recipe.recipe_image }}"
            alt="{{ recipe.recipe_name }}">
        <span class="card-title">{{ recipe.recipe_name }}</span>
        </div>
        <div class="card-content">

            <div class="category maroon">Category: {{ recipe.category_name }}</div>
            <div class="name maroon"> {{ recipe.recipe_name }}</div><br>
            <div class="ingrediences maroon">What you will need: {{ recipe.ingredience_list }}</div><br>
            <div class="method maroon">How to make it: {{ recipe.method }}</div><br>
            <div class="prep-time maroon">Preparation time: {{ recipe.preparation_time }}</div>
            <div class="difficulty maroon">Difficulty: {{ recipe.difficulty }}</div>
            <div class="created-by maroon">Created by: {{ recipe.created_by }}</div>
        
        
        </div>
      </div>
    
 






 


{% endblock %}
